body {
    background: black;
}

header {
    text-align: end;
    /*    background: #671281;*/
    height: 70px;
    padding-right: 5%;
    background: black;
}

button {
    color: aliceblue;
    height: inherit;
    font-weight: 200;
    background: none;
    border: none;
    font-family: monospace;
    font-size: 25px;
    font-style: bold;
}

button:hover {
    background: #8a26a8;
}

h1,
p {
    color: white;
    text-align: center;
    font-family: monospace;
}

#answer {
    text-align: center;
    font-family: monospace;
    border: none;
    font-style: bold;
    border-radius: 15px;
    color: #d91459;
    height: 30px;
    width: 40%;
}

#answer-sheet {
    text-align: center;
    display: inline-block;
    width: 100%;
}

#submit {
    margin-top: 15px;
    border: none;
    font-family: monospace;
    background: purple;
    color: white;
    width: 20%;
    height: 25px;
    border-radius: 15px;
}

#about-header {
    margin-top: 200px;
}
